/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

em,i {font-style:italic}

a {
text-decoration: none; /* Les liens ne seront plus soulignés */
color: #1E90FF; /* Les liens seront en rouge au lieu de bleu */
}



a.cp2 {
text-decoration: underline;
color: #fff;
}

.copyright{
font-size: 12px;
text-align: center;
color: #fff;
}

.imageAlignTop .blockImage {
  max-width: 60%;
}


@@media only screen and (max-width: 735px) {
  .showcase .link {
    height: 134px;
  }

  .showcase .link img {
    max-height: 64px;
    padding: 20px;
    width: 64px;
  }
}

.announcement {
  background-color: #20232a;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  padding: 48px;
  margin: 0 auto -40px;
  text-align: center;
}

.announcement-inner {
  margin: 0 auto;
  max-width: 768px;
}

.index-hero {
  background-color: #2b3137;
  padding: 48px;
}

.index-hero-inner {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 20px;
}

.index-hero-project-tagline {
  color: #fff;
  font-size: 54px;
  font-weight: bold;
  margin: 0;
}

.index-hero-project-keywords {
  color: $primaryColor;
}

@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.index-hero-logo {
  animation-duration: 2s;
  animation-name: jackInTheBox;
  float: left;
  margin-top: 0;
  padding: 0px;
  padding-right: 0;
  width:350px;
}

.index-ctas {
  margin-top: 24px;
}

.index-ctas-get-started-button {
  border-radius: 8px;
  border-width: 2px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-right: 24px;
  padding: 18px 36px;
}

.index-ctas-github-button {
  vertical-align: sub;
}

@media only screen and (max-width: 768px) {
  .announcement {
    font-size: 18px;
    padding: 20px;
  }

  .index-hero {
    padding: 20px;
  }

  .index-hero-inner {
    padding: 0;
  }

  .index-hero-project-tagline {
    font-size: 36px;
    text-align: center;
  }

  .index-hero-logo {
    display: block;
    float: none;
    margin: 0 auto;
  }

  .index-ctas {
    text-align: center;
  }

  .index-ctas-github-button {
    display: none;
  }
}


@media only screen and (max-width: 768px) {
  .gridBlock .blockElement.imageAlignTop {
    margin-bottom: 80px;
  }
}

.docImage {
  margin: 3rem auto;
  max-width: 400px;
}