:root {
  --ifm-color-primary-lightest: #0056B2;
  --ifm-color-primary-lighter: #004C9E;
  --ifm-color-primary-light: #004997;
  --ifm-color-primary: #004289;
  --ifm-color-primary-dark: #003B7B;
  --ifm-color-primary-darker: #003874;
  --ifm-color-primary-darkest: #002E60;

  --ifm-link-color: #1e90ff;
  --ifm-color-info-contrast-background: white;
  --ifm-navbar-link-color: white;
  --svg-background-color: #ffffff8b;
  --ifm-color-emphasis-200: var(--svg-background-color);
  --ifm-navbar-link-hover-color:#1e90ff;
}

.menu__link{
	font-weight: 400;
}
.menu__link--sublist{
	font-weight: 600;
}

[data-theme='dark'] {
  --ifm-color-primary: #1e90ff;
  --ifm-color-info-contrast-background: #1B1B1D !important;
  --ifm-navbar-link-hover-color:#1e90ff;
}

details {
  --docusaurus-details-decoration-color: grey !important;
  border: none !important;
  padding: 0 auto !important;
  margin: 10px auto !important;
}

details[data-value='properties'] > div > div {
  border: none !important;
}

details[data-value='properties'] > div > div > table > thead {
  visibility: collapse;
  line-height: 0;
}

.details > summary {
  position: relative;
  cursor: pointer;
  list-style: none;
  padding-left: 1rem;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 20px;
}

.tile {
  display: block;
  text-align: left;
}

.homepageLinks {
  display: flex;
  flex-direction: column;
}

.homepageLinks a:hover {
  color: #004289;
  text-decoration: none;
}

.navbar {
  background-color: #004289;
  padding: 0 20px;
}


.navbar button svg {
  color: white;
}


.navbar .dsla-search-field svg {
  color: #807ea3;
}

.preview {
 background-color:rgb(180, 217, 251);
 padding: 10px 0;
 color: #000;
}

.doc-updates {
  padding: 50px 20px;
  display: inline-block;
}

footer {
  margin-top: 100px;
}


@media only screen and (max-width: 768px) {
  .tile {
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .tile {
    text-align: center;
  }
}
